<div class="row">
  <div class="col-xs-12 col-md-6 push-md-3 custom-panel">
    <div class="panel panel-default panel-boundary">
      <div class="panel-heading">
        <h2><%= t('.resend_confirmation', :default => 'Wyślij jeszcze raz potwiedzenie ') %></h2>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
            <%= devise_bootstrap_error_messages! %>
            <div class="form-group">
              <%= f.label :email, "email" %>
              <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
            </div>
            <%= f.submit  t('.resend_confirmation', :default => "Wyślij jeszcze raz potwiedzenie"), class: "btn btn-success" %>
        <%end%>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
