<div class="row">
  <div class="col-xs-12 col-md-6 push-md-3 custom-panel">
    <div class="panel panel-default panel-boundary">
      <div class="panel-heading">
        <h2>Edycja użytkownika</h2>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, role: "form" }) do |f| %>
            <%= devise_bootstrap_error_messages! %>

          <div class="form-group">
            <%= f.label :email , "email" %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password, "hasło" %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            <% if @minimum_password_length %>
              <small class="form-text text-muted">(<%= @minimum_password_length %> characters minimum)</small>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "powtórz hasło" %>
            <%= f.password_field :password_confirmation, autocomplete: "off" , class: "form-control"%>
          </div>
          <div class="form-group">
            <label> kod </label>
            <input class="form-control" type="password"/>
          </div>
          <%= f.submit  t('.sign_up', :default => "Edytuj profil"), class: "btn btn-success" %>
        <%end%>
      </div>
    </div>
  </div>
</div>