<div class="row">
  <div class="col-xs-12 col-md-6 push-md-3 custom-panel">
    <div class="panel panel-default panel-boundary">
      <div class="panel-heading">
        <h2><%= t('.sign_up', :default => 'Rejestracja') %></h2>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { role: "form" }) do |f| %>
          <%= devise_bootstrap_error_messages! %>
          <div class="form-group">
            <%= f.label :email, "email" %>
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "hasło" %>
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            <% if @minimum_password_length %>
              <small class="form-text text-muted">(<%= @minimum_password_length %> characters minimum)</small>
            <% end %>
          </div>
          <div class="form-group">
            <%= f.label :password_confirmation, "powtórz hasło" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :leader, "lider" %>
            <%= f.select :leader, options_for_select(["Krzysztof Hanzlik", "Dariusz Kandzia", "Agnieszka Kaim", "Grażyna Milerska","Wojciech Baryga"]) %>
          </div>
          <div class="form-group">
            <label>Zgodnie z art. 6 ust. 1 lit. a Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27
              kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie
              swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie
              danych) wpisując się wyrażam zgodę na przetwarzanie moich danych osobowych w celach marketingu
              bezpośredniego. Zgodnie z ustawą z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną
              (Dz.U.2017.1219 t.j.) wyrażam dobrowolną zgodę na przesyłanie informacji handlowych drogą elektroniczną
              przez MAEM Krzysztof Hanzlik sp. z o.o. Nip 547-201-29-93  na podany przeze mnie powyżej adres
              e-mail.</label>
          </div>
          <div class="form-group">
            <label> kod </label>
            <input class="form-control" type="password"/>
          </div>
          <%= f.submit t('.sign_up', :default => "Zarejestruj się"), class: "btn btn-success" %>
        <% end %>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>