<p id="notice"><%= notice %></p>

<h1>załączniki</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nazwa</th>

    <th scope="col">Pobierz</th>
  </tr>
  </thead>
  <tbody>
  <% @attaches.each_with_index do |attach, index| %>
    <tr>
      <th scope="row"><%= index %></th>
      <td><%= attach.title %></td>

      <td><%= link_to "pobierz", attach.source.to_s, :download => attach.title.to_s %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

