<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @attach.title %>
</p>

<p>
  <strong>Source:</strong>
  <%= @attach.source %>
</p>

<%= link_to 'Edit', edit_attach_path(@attach) %> |
<%= link_to 'Back', attaches_path %>
