<p id="notice"><%= notice %></p>

<h1>artykuły</h1>

<table class="table  table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nazwa</th>
    <th scope="col">Tekst</th>
    <th scope="col">Pokaż Więcej</th>
  </tr>
  </thead>
  <tbody>
    <% @articles.each_with_index do |article, index| %>
      <tr scope="row">
        <th scope="row"><%= index %></th>
        <td><%= article.title %></td>
        <td><div class="container"><%= render inline: article.description %></div></td>
        <td><%= link_to 'Pokaż', article %></td>
     </tr>
    <% end %>
  </tbody>
</table>

<br>

