<p id="notice"><%= notice %></p>

<p>
  <strong>Tytuł</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Treść</strong>
  <%= render inline: @article.description %>
</p>

<%= link_to 'Cofnij', articles_path %>
