<div class="row">
  <div class="col-xs-12 col-md-6 push-md-3 custom-panel">
    <div class="panel panel-default panel-boundary">
      <div class="panel-heading">
        <h2><%= t('.change_password', :default => 'Zmień swoje hasło') %></h2>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, role: "form" }) do |f| %>
            <%= devise_bootstrap_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group">
              <%= f.label :password, "New password" %>
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
              <% if @minimum_password_length %>
                  <small class="form-text text-muted">(<%= @minimum_password_length %> characters minimum)</small>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, "Confirm new password"  %>
              <%= f.password_field :password_confirmation, autocomplete: "off" , class: "form-control"%>
            </div>

            <%= f.submit  t('.change_password_submit', :default => "Change my password"), class: "btn btn-success" %>
        <%end%>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>