<div class="row">
  <div class="col-xs-12 col-md-6 push-md-3 custom-panel">
    <div class="panel panel-default panel-boundary">
      <div class="panel-heading">
        <h2><%= t('.forgot_password', :default => 'Zapomniałeś hasła?') %></h2>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, role: "form" }) do |f| %>
            <%= devise_bootstrap_error_messages! %>
            <div class="form-group">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
            <%= f.submit  t('.forgot_password_submit', :default => "Wyślij mi instrukcję przywrócenia hasła"), class: "btn btn-success" %>
        <%end%>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>