<p id="notice"><%= notice %></p>

<h1>Filmy</h1>
<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Źródło</th>
    </tr>
  </thead>

  <tbody>
    <% @films.each_with_index do |film, index| %>
    <tr>
        <th scope="row"><%= index + 1 %></th>
        <td ><%= film.title %></td>
        <td class="text-xs-center"><%= render inline:  film.source %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

