<%= form_for(calendar) do |f| %>
  <% if calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
      <% calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :leader %>
    <%= f.text_field :leader %>
  </div>

  <div class="field">
    <%= f.label :source %>
    <%= f.text_area :source %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
