<p id="notice"><%= notice %></p>

<p>
  <strong>Leader:</strong>
  <%= @calendar.leader %>
</p>

<p>
  <strong>Source:</strong>
  <%= @calendar.source %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
