<div class="row">
  <div class="col-xs-12 col-md-6 push-md-6 custom-panel">
    <div class="panel panel-default panel-boundary">
      <div class="panel-heading">
        <h2><%= t('.sign_in', :default => "Zaloguj się!") %></h2>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
            <div class="form-group">
              <%= f.label :email , "email" %>
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password ,"hasło" %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
            <% if devise_mapping.rememberable? %>
                <div class="checkbox">
                  <%= f.label :remember_me do %>
                      <%= f.check_box :remember_me%>
                      <%= t('.remember_me', :default => "Zapamiętaj mnie") %>
                  <% end %>
                </div>
            <% end %>
            <%= f.submit  t('.sign_in', :default => "Zaloguj się !"), class: "btn btn-success" %>
        <%end%>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>