<div class="row">
  <div class="col-xs-12 col-md-6 push-md-3 custom-panel">
    <div class="panel panel-default panel-boundary">
      <div class="panel-heading">
        <h2><%= t('devise.invitations.edit.header', :default => 'Set your password') %></h2>
      </div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => invitation_path(resource_name), html: { method: :put, role: "form" }) do |f| %>
            <%= devise_bootstrap_error_messages! %>
            <%= f.hidden_field :invitation_token %>

            <% if f.object.class.require_password_on_accepting %>
                <div class="form-group">
                  <%= f.label :password, "Password" %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
                  <% if @minimum_password_length %>
                      <small class="form-text text-muted">(<%= @minimum_password_length %> characters minimum)</small>
                  <% end %>
                </div>
                <div class="form-group">
                  <%= f.label :password_confirmation, "Confirm password"  %>
                  <%= f.password_field :password_confirmation, autocomplete: "off" , class: "form-control"%>
                </div>
            <% end %>
            <%= f.submit  t('.devise.invitations.edit.submit', :default => "Set my password"), class: "btn btn-success" %>
        <%end%>
      </div>
    </div>
  </div>
</div>
