@import "./hamburger";

html, body {
  overflow-x:hidden
}

.logo img{
  width: 50px;
  padding: 5px;
}
.nav{
  border: none;
  background-image: linear-gradient(45deg, #c6d2c6,#9acd32, #96b896,#9acd32,#c6d2c6,#9acd32,#9acd32);
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  background-position: 50% 50%;
  padding: 0 1rem;
}
a:hover{
  text-decoration: none;
}


.custom-panel{
  margin: 1rem auto;
  padding: 1rem;
  background: #e9ecef !important;
  border: lightgray 1px solid;
  border-radius: .2rem;
}

.link{
  text-decoration: none !important;
  color:black !important;
  padding: 10px;
  position: relative;
  overflow: hidden;
  font-weight: 600;
  font-size: 1rem;
  &:hover{
    color:black;
  }
  &:hover::after{
    transform: translate(0%);
  }
}
.link::after{
  content: "";
  position: absolute;
  height: 3px;
  width: 110%;
  left: 0;
  bottom: 10px;
  transform: translate(-100%);
  background-color: #90ee00;
  transition: .3s;
}
.hamburger-icon{
  display: none;
}

@media (max-width: 768px){
  .custom-panel{
    margin: 0 1rem;
  }
  #main-container{
    padding: 0;
    max-width: none;
  }
  table{
    width: 100% !important;
  }
  .nav{
    display: none !important;
  }
  .hamburger-icon{
    display: block;
    z-index: 1000;
    position: fixed;
    right: 0;
    top:0;
  }
}

.mobile-nav{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 999;
  background: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  transition: 1s;
  transform: translateY(-110%);
  a{
    font-size: 2rem;
  }
  &.active{
    transform: translateY(0);
  }
}
