
<div class="container m-a-2">
  <h1>Mapa myśli</h1>
<iframe width="100%" height="800px" src="https://prezi.com/embed/ujk4bs8b72ki/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;landing_data=bHVZZmNaNDBIWkRDVE93YVVDTVN5dWF2eDNlZVpKayszYlFONi91ZVhLUVdLQ1RaUnZTZ04yVTR0YjM0dXlWbnhYZ3F6WU09&amp;landing_sign=vw8A4a6gflkN-MHQ1jTdQ95uragP8fklEo-qfhXCYwQ" webkitallowfullscreen="1" mozallowfullscreen="1" allowfullscreen="1"></iframe>
</div>