<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>Koncepcja</title>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body>
<nav class="hamburger-icon" style="text-align: right">
  <button id="btn1" class="hamburger hamburger--collapse" type="button">
    <span class="hamburger-box">
      <span class="hamburger-inner"></span>
    </span>
  </button>
</nav>
<nav class="mobile-nav">
  <%= link_to "mapa myśli", map_index_path, class: "link nav-item nav-link" %>
  <%= link_to "załączniki", attaches_path, class: "link nav-item nav-link" %>
  <%= link_to "kalendarz", calendars_path, class: "link nav-item nav-link" %>
  <%= link_to "filmy", films_path, class: "link nav-item nav-link" %>
  <%= link_to "artykuły", articles_path, class: "link nav-item nav-link" %>
  <%= link_to "panel admin", admin_root_url, class: "link nav-item nav-link" %>
  <% if user_signed_in? %>
    <%= link_to "Wyloguj się", destroy_user_session_path, class: "link nav-item nav-link", :method => 'delete' %>
    <%= link_to "Edytuj Profil", root_url, class: "link nav-item nav-link" %>
  <% else %>
    <%= link_to "Zaloguj się", new_user_session_path, class: "link nav-item nav-link" %>
  <% end %>
</nav>
<nav class="nav">
  <li><%= link_to image_tag("/images/logo.png"), admin_root_url, class: "logo" %></li>
  <%= link_to "mapa myśli", map_index_path, class: "link nav-item nav-link" %>
  <%= link_to "załączniki", attaches_path, class: "link nav-item nav-link" %>
  <%= link_to "kalendarz", calendars_path, class: "link nav-item nav-link" %>
  <%= link_to "filmy", films_path, class: "link nav-item nav-link" %>
  <%= link_to "artykuły", articles_path, class: "link nav-item nav-link" %>
  <%= link_to "LR sklep", "https://sso.lrworld.com/cas/login?service=https%3A%2F%2Fwww.lrworld.com%2Flogin&d=h&locale=pl_pl", target: "_blank", class: "link nav-item nav-link" %>
  <%= link_to "Blog", "https://www.facebook.com/groups/1759332444171219", target: "_blank", class: "link nav-item nav-link" %>
  <% if user_signed_in? %>
    <%= link_to "Wyloguj się", destroy_user_session_path, class: "link nav-item nav-link", :method => 'delete' %>
    <%= link_to "Edytuj Profil", root_url, class: "link nav-item nav-link" %>
  <% else %>
    <%= link_to "Zaloguj się", new_user_session_path, class: "link nav-item nav-link" %>
  <% end %>
</nav>
<div class="container" id="main-container">
  <%= render partial: 'shared/flash' unless flash.empty? %>
  <%= yield %>
</div>
<script>
    const btn = document.querySelector('#btn1');
    const mobile = document.querySelector('.mobile-nav');
    btn.addEventListener('click', () => {
        btn.classList.toggle('is-active');
        mobile.classList.toggle('active');
    })
</script>
</body>
</html>

